* {
  margin: 0%;
  padding: 0;
}

#nb {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
  text-align: center;
  padding: 14px 16px;
  color: #ababab;
  display: block;
  display: flex;
  flex-wrap: wrap;
}
#nb li {
  padding-left: 0.6cm;
}
#nb li a {
  text-decoration: none;
  color: #ababab;
}

#logo {
  width: 268px;
  height: 33px;
}
#navbar {
  display: flex;
  justify-content: space-around;
}

/* main */
/* introduction part CSS */
#introduction {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* width: 80%; */
  margin: 2% 10%;
}
#introduction div {
  display: flex;
}

#introduction h1 {
  font-family: "Comforter Brush", cursive;
  color: #00b39b;
  font-size: 2.125rem;
  margin: 2%;
}
#introduction div p {
  /* line-height: 1.75; */
  font-weight: 400;
  color: gray;
  line-height: 1.5;
  padding: 2%;
}
@media (max-width: 500px) {
  #introduction div {
    display: flex;
    flex-wrap: wrap;
  }
  #introduction div p {
    width: 300px;
    /* color: red; */
  }
}
/* ------------------------------------------- */
/* countriues part CSS */
#countries {
  /* 1step : postions and alignements: using flexBox */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* step 2: box model */
  margin: 2% 10%;
}
.country {
  margin-bottom: 2%;
  border-radius: 2%;
}
.country img {
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
}
.country div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.country div {
  padding: 4%;
}
.country div p {
  color: gray;
}
.country div button {
  color: white;
  background-color: blue;
  padding: 2%;
}
.country:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
